

#main {
    display: flex;
    flex: 1;
    
}

#main>#id1 {
    flex: 1;
    order: 1;
    
}

#main>#id2 {
    flex: 1;
    order: 2;
}

#main>#id3 {
    flex: 1;
    order: 3;
}
#main>#id4 {
    flex: 1;
    order: 4;
}

#main>#id5 {
    flex: 1;
    order: 5;
}

#main>#id6 {
    flex: 1;
    order: 6;
}

.leeftijdResults {
    width: 50%;
    word-wrap: break-word;
}

#main p {
    /* width: 350px; */
    border: 1px solid black;
    margin: 0;
}

.bejaardentehuisBtn {
    position: relative;
    /* margin: auto; */
    background: #232931;
    font-family: "Indie Flower", cursive !important;
    border-radius: 7px;
    color: #ffff;
    font-size: 18px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
}