.rollDice {
    display: none;
}

.dobbelspelContainer {
    display: block;

}

.dobbelspelContainer .dobbelspelTitel {
    text-align: center;
}

.areas {
    width: 80%;
    margin: auto;
    height: 500px;
    display: flex;
    position: relative;
    justify-content: center;
}

.score {
    position: absolute;
    color: white;
    opacity: 1 !important;
}

.leftArea,
.rightArea {
    width: 50%;
    text-align: center;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
}

.leftArea {
    background-color: #05b2dc;

}

.rightArea {
    background-color: #004385;
}

.leftArea p,
.rightArea p {
    margin: 0;
}

.startBtn,
.resetBtn,
.rollDice,
.stopBtn {
    position: absolute;
    top: 50%;
    margin: auto;
    background: #232931;
    font-family: "Indie Flower", cursive;
    border-radius: 7px;
    color: #ffff;
    font-size: 30px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
}

.resultaat,
.playerTurn {
    position: absolute;
    top: 30%;
    color: white;
    font-weight: 750;
    text-align: center;
}

.resetBtn {
    display: none;
}

.stopBtn {
    display: none;
    padding: 5px;
    top: 80%;
}

.dices1,
.dices2 {
    position: absolute;
    top: 50%;
    display: none;

}

@media screen and (max-width: 1385px) {

    .startBtn,
    .resetBtn,
    .rollDice {
        top: 80%;
    }

    .stopBtn {
        display: none !important;
    }

    .dices1 img,
    .dices2 img {
        width: 55px;
    }

    .player1Name,
    .player2Name {
        max-width: 75%;
    }
}

@media screen and (max-width: 767px) {

    .startBtn,
    .resetBtn,
    .rollDice {
        top: 80%;
    }

    .stopBtn {
        display: none !important;
    }
}