.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fbfbfb;
}

.footer-bottom {
    background-color: rgba(0, 0, 0, 0.2);
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

.socialBtns {
    /* padding: 8px; */
}

.facebookBtn,
.twitterBtn,
.instagramBtn,
.githubBtn,
.googleBtn,
.linkedInBtn {
    margin: 5px;
    font-size: 32px;
}

.fa-facebook,
.fa-square-twitter,
.fa-google,
.fa-linkedin,
.fa-instagram,
.fa-github {
    background-color: transparent;
    color: #3b71ca;

}