.home {
	background-color: aliceblue;
	padding-bottom: 100px;

}

.home .homeIntro {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

}

.home .homeIntro .homeTitle {
	width: 50%;
	text-align: center;
}

.home .homeIntro .homeInfo {
	width: 528px;
	text-align: center;
}

/* Buttons voor Hello world page */
.hwButton {
	margin: auto;
	background: #232931;
	font-family: "Indie Flower", cursive;
	border-radius: 7px;
	color: #ffff;
	font-size: 20px;
	padding: 16px 25px 16px 25px;
	text-decoration: none;
	display: block;
}

@media screen and (max-width: 767px) {

	.home .homeIntro .homeInfo {
		width: 90%;
	}

}