.loops {
    font-family: monospace;
    width: max-content;
    background-color: #333;
    max-width: fit-content;
}
.loopArea {
    position: relative;
    background-color: #333;
    width: max-content;
    display: inline-grid;
    padding: 5px;
}

.loopbox {
    display: none;
    color: white;
    padding: 10px; 
    margin: 15px;
    border: 1px solid white;
    height: 260px;
}

.loopBtn {
    margin: auto;
    background: #232931;
    font-family: "Indie Flower", cursive;
    border-radius: 7px;
    color: #ffff;
    font-size: 20px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
    display: block;
}
