.nav-item.show.dropdown .dropdown-menu.show {
    top: 45px;
}

.navbarbg {
    background-color: #0582ca;

}

.container-fluid .navbar-brand,
.container-fluid .nav-link {
    color: white;

}

.container-fluid .nav-link { 
    text-align: center;
}

.navbar-expand-md .navbar-nav {
    margin: auto;
    padding-right: 100px;
    font-size: 20px;
}

@media screen and (max-width: 767px) {
    .navbar-expand-md .navbar-nav {
        padding-right: unset;
    }
    
}